#heading_v1
	padding: 0px

#menu_section
	background-image: url(../images/Small/pit3.png)

#courses_section
	background-image: url(../images/Small/pit.png)

#order_now_section
	background-image: url(../images/Small/pit15.png)	