*
	margin: 0em
	padding: 0em
	overflow-x: hidden 

//imports
@import order
@import cart
@import misc
@import menus

//default classes
.bg_1
	background-color: #000

.bg_2
	background-color: #222

.bg_3
	background-color: #444

.bg_4
	background-color: #666

.bg_5
	background-color: #888

.bg_6
	background-color: #fff

.bg_r
	background-color: red

.bg_header
	background-color: white
	opacity: 0.3
	border: 1px white solid
	padding: 8%

.ghost_button
	border: 1px white solid
	border-radius: 3px

.padding_20
	padding: 20px

.padding_10
	padding: 10px

.padding_5
	padding: 5px

.padding_1
	padding: 1px
	
	
.w
	color: white
.b
	color: black
.r
	color: red

.no_border
	border-radius: 0px
	border: none

// NAVBAR
#navbar_menu_button
	border: 0px
	background-color: none

#navbar_menu_button:hover
	background-color: none	

#navbar_social_media img
	width: 50px
//
.bg-image
	position: relative

.bg-image img
	display: block
	width: 100%
	height: 100%
	margin: 0 auto

.header img
	width: 100%
	position: relative

.absolute
	position: absolute

.revert
	position: static

#index_l
	position: absolute
	width: 420px
	top: 70px
	left: 50%
	transform: translate(-50%,0)

.thumbnail
	position: relative

.caption
	width: 100%
	margin-top: -22.5%

#navbar_menu img
	width: 65px


#navbar_cart img
	width: 35px

.shrink img
	width: 30px