* {
  margin: 0em;
  padding: 0em;
  overflow-x: hidden; }

#order_image img {
  width: 60px;
  border-radius: 70px; }

#how_works img {
  width: 160px;
  border-radius: 100px; }

#order_header_section {
  background-image: url(../images/Small/pit8.png); }

#order_upper_buttons_section {
  background-image: url(../images/Small/pit.png); }

#order_section {
  background-image: url(../images/Small/pit6.png); }

#cart_section {
  background-image: url(../images/Small/pit15.png); }

#cart_bg_section {
  background-image: url(../images/texture3.png); }

#wait_image img {
  width: 90%; }

#gt_image img {
  width: 35%; }

#heading_v1 {
  padding: 0px; }

#menu_section {
  background-image: url(../images/Small/pit3.png); }

#courses_section {
  background-image: url(../images/Small/pit.png); }

#order_now_section {
  background-image: url(../images/Small/pit15.png); }

#family_image img {
  width: 120px;
  border-radius: 120px; }

#catering_section {
  background-image: url(../images/Small/pit9.png); }

.bg_1 {
  background-color: #000; }

.bg_2 {
  background-color: #222; }

.bg_3 {
  background-color: #444; }

.bg_4 {
  background-color: #642922;
  color: white; }

.bg_5 {
  background-color: #421C17;
  color: white; }

.bg_6 {
  background-color: #588C38;
  color: white; }

.bg_7 {
  background-color: #555;
  color: white; }

.bg_8 {
  background-color: #444;
  color: white; }

.bg_r {
  background-color: red; }

.bg_header {
  background-color: white;
  opacity: 0.3;
  border: 1px white solid;
  padding: 8%; }

.ghost_button {
  border: 2px white solid;
  border-radius: 5px; }

.strong_button {
  background-color: #D09C1D; }

.del {
  background-color: red; }

.padding_30 {
  padding: 30px; }

.padding_20 {
  padding: 20px; }

.padding_10 {
  padding: 10px; }

.padding_5 {
  padding: 5px; }

.padding_1 {
  padding: 1px; }

.w {
  color: white; }

.b {
  color: black; }

.r {
  color: red; }

.green_light {
  color: #588C38; }

.header_1 {
  font-family: caviardreamsregular;
  font-size: 53px;
  padding: 5px;
  color: #fff; }

.header_2 {
  font-family: ultimapdultralight;
  font-weight: 900;
  font-size: 30px;
  padding: 5px; }

.header_3 {
  font-family: caviardreamsregular;
  font-weight: 900;
  font-size: 25px;
  color: #F3FFF7; }

.default_text {
  font-family: opensansregular;
  font-size: 15px; }

.jumbotron_rounded {
  border-radius: 5%; }

.no_border {
  border-radius: 0px;
  border: none; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.badge_r {
  background-color: red;
  width: 10px;
  border-radius: 10px; }

.navbar-inverse {
  background-color: red; }

#navbar_menu_button {
  border: 0px;
  background-color: none; }

#navbar_menu_button:hover {
  background-color: none; }

#navbar_social_media img {
  width: 50px; }

.bg-image {
  position: relative; }

.bg-image img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto; }

.header img {
  width: 100%;
  position: relative; }

.absolute {
  position: absolute; }

.revert {
  position: static; }

.thumbnail {
  position: relative; }

.caption {
  width: 100%;
  margin-top: -22.5%; }

#navbar_menu img {
  width: 65px; }

#navbar_cart img {
  width: 35px; }

.shrink img {
  width: 30px; }

.hiddenOverlay {
  height: 80px;
  width: 100%;
  background-color: #FFF; }

#index_logo img {
  width: 300px; }

#about_image img {
  width: 100%; }

#index_section {
  background-image: url(../images/Small/pit6.png); }

#reviews_section {
  background-image: url(../images/Small/pit7.png); }

#about_section {
  background-image: url(../images/Small/pit8.png); }

#contact_container {
  background-image: url(../images/Small/pit17.png); }

/*# sourceMappingURL=style.css.map */
