*
{
margin: 0;
padding: 0;
}

/* Custom classes*/
.subhead
{
width: 100%;
height: 10%;
margin-top: 7%;
color: white;
font-family: simplifica;
font-size: 3.5vw;
text-align: center;
}

/*end*/

body
{
background-color: #E2FFE2;
}

/*=================orders page=================*/

#navigation_bar_order
{
position: fixed;
top: 0%;
width: 100%;
z-index: 20;
}


#order_container
{
position: absolute;
width: 60%;
height: 80%;
top: 55%;
left: 50%;
transform: translate(-50%,-50%);
-webkit-user-select: none;
}

#header
{
position: absolute;
width: 100%;
top: 2.5%;
font-size: 3vw;
color: #33A415;
font-family: opensansregular;
text-align: center;
}

.quantityHeading
{
color: #36AD16;
}

#main_box
{
height: 79%;
width: 100%;
margin-top: 16%;
}

#meat_container
{
position: absolute;
width: 45%;
height: 75%;
left: 30%;
background-color: #00A413;
border-radius: 15px;
z-index: 1;
}

#review_container
{
position: absolute;	
width: 40%;
height: 75%;
float: right;
margin-left: 30%;
background-color: #00A413;
display: none;
border-radius: 15px;
}

#the_order_output
{
position: absolute;
width: 103.7%;
height: 61%;
margin-top: 11%;
overflow-y: auto;
overflow-x: none;
}

#options_container
{
height: 79.1%;
margin-top: 10%;
}

#options_container>ul
{
list-style-type: none;
}

#options_container>li
{
position: relative;
list-style-type: none;

}

.meat_option li
{
display: inline-block;
list-style-type: none;
}

.meat_option
{
position: relative;
background-color: #008810;
width: 86%;
left: 7%;
margin-bottom: 1%;
list-style-type: none;
color: #BDBDBD;
}

.meat_option:hover
{
color: #E3E3E3;
background-color: #36AD16;
}

#image
{
position: relative;
width: 10%;
height: 100%;
margin-left: 5%;
margin-top: 0.5%;
}

#image>img
{
width: 100%;
height: 100%;
top: 1%;
}

#name
{
position: absolute;
width: 28%;
margin-left: 14%;
margin-top: 1.5%;
font-size: 1.5vw;
font-family: opensanslight; 
}

#price_
{
position: absolute;
top: 28%;
left: 78%;
font-size: 1vw;
font-family: opensanslight;
}

.add
{
position: absolute;
margin-left: 75%;
margin-top: 2.5%; 
color: white;
font-size: 1vw;
padding-top: 1%;
padding-bottom: 0.9%;
padding-left: 1.9%;
padding-right: 2.1%;
background-color: #999;
border-radius: 1vw;
}

.add:hover
{
background-color: #888;
cursor: pointer;
}

#review_container ul
{
margin-top: -3.5%;
padding: 5%;
}

#review_container li
{
padding-top: 1.5%;
padding-bottom: 1.5%;
padding-left: 5%;
background-color: #008810;
width: 86%;
left: 7%;
margin-bottom: 1%;
list-style-type: none;
color: #BDBDBD;
font-size: 1vw;
font-family: opensanslight;
margin-bottom: 1%;
}

#review_container li:hover
{
color: #E3E3E3;
}

#the_order_output ul
{
width: 87%;
}

#the_order_output li
{
width: 375px;
margin-left: 2%;
}

#word
{
font-size: 1.5vw;
font-family: opensanslight;
}

.del
{
position: absolute;
margin-top: -6.5%;
margin-left: 320px;
color: #999;
font-style: normal;
font-family: arial;
background-color: #B20000;
padding-top: 3px;
padding-bottom: 2px;
padding-left: 5px;
padding-right: 5px;
border-radius: 1.5vw;
font-size: 0.7vw;
}

.del:hover
{
cursor: pointer;
color: #fff;
background-color: #E40000;
}

#place_order_wrapper
{
position: absolute;
background-color: #2A8811;
width: 100%;
height: 15%;
margin-top: 88.5%;
border-bottom-left-radius: 1em;
border-bottom-right-radius: 1em; 
}

#place_order
{
position: absolute;
color: white;
font-family: simplifica;
font-size: 2em;
left: 42%;
top: 25%;
background-color: #31AA2B;
padding: 2%;
cursor: pointer;
border-radius: 0.2em;
}

#edit_content
{
margin-top: 1%;
top: 20%;
left: 10%;
width: 100%;
display: none;
}

#edit_box img
{
position: absolute;
overflow: hidden;
width: 100%;
height: 20%;
}

#size
{
position: absolute;
width: 96%;
height: 75%;
top: 23%;
padding: 0%;
}

#sizes
{
margin-left: -5%;
}

#sizes li input[type=radio]
{
display: none;
}

#sizes li label
{
position: absolute;
cursor: pointer;
font-size: 0.9em;
background-color: #0B7300;
width: 20%;
padding: 3%;
text-align: center;
}

#sizes li input[type=radio]:checked + label
{
color: #E3E3E3;
background-color: #36AD16;
}

#sizes li
{
width: 30%;
list-style-type: none;
display: inline-block;
margin-left: 8%;
}

#sizes li:hover
{
cursor: pointer;
}

#sides li
{
list-style-type: none;
display: inline-block;
width: 40%;
height: 40px;
}

#sides li:hover
{
cursor: pointer;
}

#sides li input[type=checkbox]
{
display: none;
}

#sides li label
{
cursor: pointer;
text-align: center;
background-color: #0B7300;
float: left;
font-size: 0.9vw;
margin-right: 1%;
margin-bottom: 3%;
padding-top: 6px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
}

#sides li input[type=checkbox]:checked + label
{
background-color: #36AD16;
}

.small
{

}

.large
{

}

.hidden
{
display: none;
}

.toggle
{
float: right;
}

#subtotal
{
position: absolute;
width: 100%;
height: 10%;
margin-top: 130%;
left: 2%;
}

#quantityButtons li
{
list-style-type: none;
display: inline-block;
text-align: center;
margin-top: 2.5%;
font-size: 1vw;
padding-top: 1%;
padding-bottom: 0.9%;
padding-left: 1.9%;
padding-right: 2.1%;
background-color: #999;
border-radius: 1vw;
width: 5%;
}

hr
{
margin-left: -5.5%;
}

#quantityButtons li:hover
{
cursor: pointer;
background-color: #36AD16;
}

.edit_:hover
{
cursor: pointer;
color: red;
}

#total
{
position: fixed;
width: 40.2%;
height: 8%;
top: 84.7%;
left: 59.9%;
background-color: white;
}

#total>h2
{
margin-top: 5%;
margin-left: 8%;
color: red;
}

#value_of_quantity
{
position: absolute;
font-size: 1.5vw;
top: 69%;
left: 42%;
}

#quantityButtons
{
margin-top: -9%;
}

#arrows
{
margin-top: -8%;
margin-left: 72%;
}

.innerArrow 
{
width: 25%;
left: 83%;
}

#up
{
display: none;
}
/*end of orders page*/

/*===================INDEX=================*/

#index
{
position: absolute;
top: 0%;
width: 100%;
height: 100%;
z-index: 10;
}

#navigation_bar_index
{
position: fixed;
top: 0%;
width: 100%;
z-index: 20;
display: none;
}


#background_image
{
position: absolute;
width: 100%;
height: 100%;
overflow: hidden;
}

#middle_logo_container
{
position: absolute;
font-size: 4.5vw;
font-family: aressence;
color: #33A415;
top: 47%;
left: 50%;
transform: translate(-50%,-50%);
line-height: 150px;
text-align: center;
}

#middle_logo_container img
{
width: 80%;
margin-top: -10%;
}

#nav_bar_left
{
position: absolute;
width: 28%;
height: 13%;
top: 47%;
transform: translate(16%,-50%);
}

#nav_bar_right
{
position: absolute;
width: 28%;
height: 13%;
top: 47%;
left: 68%;
transform: translate(0,-50%);
}

#nav_bar_left ul
{
padding-left: 1%; 
}

#nav_bar_left li
{
list-style-type: none;
display: inline-block;
padding-top: 9%;
padding-bottom: 9%;
width: 49%;
background-color: #2A8811;
text-align: center;
color: #BDBDBD;
font-size: 1.5vw;
font-family: bebasregular;
}

#nav_bar_left li:hover
{
background-color: #34A217;
}

#nav_bar_right ul
{
padding-left: 1%; 
}

#nav_bar_right li
{
list-style-type: none;
display: inline-block;
padding-top: 9%;
padding-bottom: 9%;
width: 49%;
background-color: #2A8811;
text-align: center;
color: #BDBDBD;
font-size: 1.5vw;
font-family: bebasregular;
}

#nav_bar_right li:hover
{
background-color: #34A217;
}

#left_menu
{
border-top-left-radius: 0.5em;
border-bottom-left-radius: 0.5em;
}

#right_menu
{
border-top-right-radius: 0.5em;
border-bottom-right-radius: 0.5em;
}

.down_arrow
{
position: absolute;
width: 20%;
top: 65%;
left: 50%;
transform: translate(-50%, 0);
fill: white;
-webkit-animation: animates  3s infinite;
}

#svg_arrow:hover
{
fill:#3BCE4C;
cursor: pointer;
}

@-webkit-keyframes animates
{
	0%{margin-top: 50px;}
	20%{margin-top: 50px;}
	40%{margin-top: 10px;}
	50%{margin-top: 50px;}
	60%{margin-top: 10px;}
	80%{margin-top: 50px;}
	100%{margin-top: 50px;}	
}	

#slogan
{
position: absolute;
width: 40%;
height: 20%;
top: 72%;
left: 30%;
font-family: ultimapdultralightitalic;
font-size: 2.5vw;
text-align: center;
font-weight: 600;
color: white;
}


#media
{
position: absolute;
width: 12%;
height: 10%;
margin-left: 88%;
top: 2%;
overflow: hidden;
}

#media ul
{
height: 100%
}

#media li
{
width: 25%;
list-style-type: none;
display: inline-block;
padding: 2%;
}

.media_icon
{
width: 100%;
height: 100%;
}

/*============ABOUT US PAGE==============*/

#about_us_anchor
{
position: absolute;
top: 87.5%;
}

#about_us
{
position: absolute;
top: 100%;
width: 100%;
height: 100%;
z-index: 10;
}

#parallax_area
{
position: absolute;
/*top: 12.5%;*/
width: 40%;
height: 87.5%;
overflow: hidden;
}

#parallax_back
{
position: absolute;
width: 100%;
height: 100%;
z-index: 1;
}

#parallax_back img
{
position: absolute;
width: 100%;
height: 100%;
}

/*#parallax_front
{
position: absolute;
top: 27.5%;
left: 5%;
width: 25%;
height: 60%;
z-index: 2;
background-color: blue;
}*/

#aboutus_content
{
position: absolute;
top: 5%;
left: 40%;
width: 60%;
height: 87.5%;
}

#aboutus_title
{
position: absolute;
top: 4%;
width: 100%;
font-size: 4vw;
font-family: caviardreamsregular;
text-align: center;
color: #35A928;
}

#aboutus_details
{
position: absolute;
top: 20%;
left: 5%;
width: 90%;
height: 100%;
font-size: 1vw;
font-family: opensansregular;
}

#aboutus_details p
{
width: 73%;
margin-left: 15%;
}

#aboutus_images
{
position: absolute;
top: 42%;
left: 10%;
width: 80%;
height: 30%;
}

#aboutus_images img
{
width: 40%;
margin-left: 50%;
transform: translate(-50%,0);
}

#aboutus_images ul
{
width: 70%;
margin-left: 16%;
}

#aboutus_images li
{
width: 48%;
height: 100%;
list-style-type: none;
display: inline-block;
}

.icons_subtext
{
color: black;
font-family: opensanslight;
margin-left: 41%;
margin-top: 10%;
font-size: 1vw;
}

/*+++++++About Us Mobile Page +++++++++*/
#AboutUs
{
position: absolute;
height: 100%;
width: 100%;	
background-color: #fff;
z-index: -1000
}

#menubutton
{
position: absolute;
background-color: black;
height: 6%;
width:10%;
top:0%;
left: 0%;
color: white;
}

#blueboxtop
{
position: relative;
background-color: blue;
height:6%;
width:50%;
top: 0%;
left: 22%;
color: black;
font-size: 5vw
}

#AboutUsHead
{
position: relative;
background-color: none;
height: 6%;
width:40%;
top: 8%;
left: 26%;
font-size: 9vw;
font-family: opensanslight;
color:white;
}

#aboutusbox
{
position: absolute;
background-color: none;
height: 10vh;
width:60%;
top: 22%;
left: 18%;
font-size: 3vw;
}

#about_picture
{
position: absolute;
background-color: none;
height: 45%;
width: 100%;
top: 9%;
left:0%;
font-size: 3vw;
z-index: -5;
}

#about_picture img
{
position: absolute;
height: 100%;
width: 100%;
}


/*About Us Mobile Ends*/


/*=========================== CONTACT US PAGE ==============================*/

#contact_us_anchor
{
position: absolute;
top: 187.5%;
}

#contact_us
{
position: absolute;
top: 200%;
width: 100%;
height: 100%;
z-index: 10;
}

#contactus_title
{
position: absolute;
top: 3%;
width: 100%;
font-size: 4vw;
font-family: caviardreamsregular;
text-align: center;
color: #35A928;
}

#recenter_map
{
position: absolute;
top: 20%;
left: 94.7%;
width: 5%;
z-index: 3;
}

#recenter_map button
{
cursor: pointer;
width: 100%;
text-align: center;
font-size: 0.8vw;
background-color: #DCFFDF;
}

#contact_info
{
position: absolute;
top: 25.5%;
left: 6%;
width: 35%;
height: 40%;
z-index: 3;
}

#contact_info table
{
width: 100%;
height: 100%;
text-align: center;
opacity: 0.8;
font-size: 0.8vw;
font-family: opensansregular;
}
	
#contact_info tr
{
height: 50%;
}

#contact_info td
{
width: 50%;
background-color: #999;
}

#contact_info b
{
font-family: bebasregular;
font-size: 2vw;
color: #C5DDC3;
}

#contact_info li
{
list-style-type: none;
}

#onlinecontact
{
margin-left: 50%;
transform: translate(-50%,0);
width: 60%;
height: 30%;
}

#onlinecontact li
{
margin-top: 5%;
width: 30%;
display: inline-block;
}

.insta_svg
{
width: 80%;
}

#map_overlay
{
position:absolute;
width:100%;
height:60%;
top: 15%;
z-index: 2;
}

#click_map_instruct
{
position: absolute;
top: 69%;
width: 100%;
padding-top: 1%;
text-align: center;
font-family: asgalt;
font-size: 3vw;
opacity: 0.8;
color: #C5DDC3;
background-color: #999;
}

/* ============================MENU================================== */
#navigation_bar_menu
{
position: fixed;
top: 0%;
width: 100%;
z-index: 20;
}

#menu_title
{
position: absolute;
top: 20%;
width: 100%;
height: 12%;
z-index: 2;
font-size: 4vw;
font-family: asgalt;
text-align: center;
}

#regular_meals
{
position: absolute;
top: 25%;
width: 100%;
height: 100%;
}

#regular_meals_title
{
position: absolute;
top: 20%;
left: 32%;
font-size: 5vw;
font-family: asgalt;
color: #444;
}

#regular_meals_images
{
position: absolute;
top: 30%;
left: 5%;
width: 40%;
height: 40%;
overflow: hidden;
}

#regular_meals_images ul
{
display: block;
width: 500%;
height: 25em;
overflow: hidden;
}

#regular_meals_images li
{
float: left;
list-style-type: none;
width: 20%;
}

#regular_meals_images img
{
width: 100%;
}

#regular_meals_options
{
position: absolute;
top: 20%;
left: 55%;
width: 40%;
}

#regular_meals_options ul
{
text-align: left;
}

#regular_meals_options li
{
font-family: oranienbaum;
font-size: 2vw;
list-style-type: none;
margin-bottom: 10%;
width: 90%;
}

#regular_meals_options p
{
font-family: opensanregular;
font-size: 1vw;
}

#combination_meals
{
position: absolute;
top: 130%;
width: 100%;
height: 100%;
}

#combination_meals_title
{
position: absolute;
top: 20%;
left: 55%;
font-size: 5vw;
font-family: asgalt;
color: #444;
}

#combination_meals_images
{
position: absolute;
top: 30%;
right: 5%;
width: 40%;
height: 40%;
overflow: hidden;
}

#combination_meals_images ul
{
display: block;
width: 500%;
height: 25em;
overflow: hidden;
}

#combination_meals_images li
{
float: left;
list-style-type: none;
width: 20%;
}

#combination_meals_images img
{
width: 100%;
}

#combination_meals_options
{
position: absolute;
top: 20%;
left: 8%;
width: 40%;
}

#combination_meals_options ul
{
text-align: right;
}

#combination_meals_options li
{
font-family: oranienbaum;
font-size: 2vw;
list-style-type: none;
margin-bottom: 10%;
width: 90%;
}

#combination_meals_options p
{
font-family: opensanregular;
font-size: 1vw;
}

.selected_option
{
background-color: #A8FFB6;
}

#meal_option
{
width: 100%;
height: 100%;
}

#sides_meals
{
position: absolute;
top: 230%;
width: 100%;
height: 100%;
}

#sides_meals_title
{
position: absolute;
top: 15%;
left: 50%;
transform:translate(-50%, 0);
font-size: 5vw;
font-family: asgalt;
color: #444;
}

#sides_meals_lists
{
position: absolute;
top: 30%;
left: 42%;
width: 20%;
height: auto;
}

#sides_meals_lists li
{
font-family: bebasregular;
font-size: 1.6vw;
text-align: left;
list-style-image: url('../images/sides.png');
padding-left: 5%;
margin-bottom: 3%;
}

/*======================= NAV BAR ========================*/

nav 
{
text-align: center;
background-color: #2A8811;
width: 100%;
z-index: 5;
}

nav ul
{
width: 100%;
height: 15%;
}

nav li
{
list-style-type: none;
display: inline-block;
width: 19%;
}

nav a
{
text-align: center;
display: block;
text-decoration: none;
font-size: 2vw;
font-family: bebasregular;
color: #BDBDBD;
padding-top: 9%;
padding-bottom: 9%;
}

nav a:hover
{
-webkit-transition: color 0.1s ease-in;
color: #E3E3E3;
}

nav ul li ul
{
position: absolute;
background-color: #2A8811;
visibility: hidden;
width: 14%;
height: auto;
left: 22%;
z-index: 5;
}

nav ul li:hover > ul,nav ul li ul:hover
{
visibility: visible;
}

nav ul li ul li
{
width: 100%;
}

nav ul li ul li:hover
{
background-color: #36AD16;
}

nav ul li ul li a
{
font-size: 1.5vw;
padding-top: 2%;
padding-bottom: 2%;
}

#logo_image
{
position: absolute;
width: 12%;
margin-left: 6%;
margin-top: -1.5%;
}

.cart_svg
{
width: 3%;
}

#cart_count
{
position: absolute;
display: none;
top: -10%;
right: 0.5%;
font-size: 0.8vw;
font-family: bebasbold;
padding-top: 0.2%;
padding-bottom: 0.2%;
padding-left: 0.45%;
padding-right: 0.45%;
border-radius: 1em;
background-color: #fff;
}

/*========= CART ================*/

#navigation_bar_cart
{
position: fixed;
top: 0%;
width: 100%;
z-index: 20;
}

#confirm_order_details
{
position: absolute;
top: 20%;
width: 100%;
height: 80%;
}

#cart_title
{
position: absolute;
top: 15%;
width: 100%;
text-align: center;
font-family: asgalt;
font-size: 4vw;
}

#contact_information
{
position: absolute;
top: 10%;
left: 5%;
width: 40%;
height: 45%;
}

#contact_info_header
{
position: absolute;
margin-top: -3%;
width: 80%;
height: 10%;
padding-top: 0.8%;
padding-bottom: 0.3%;
padding-left: 10%;
padding-right: 10%;
-webkit-transition: text-align 0.2s ease-in;
text-align: center;
font-family: oranienbaum;
font-size: 1.5vw;
background-color: #2A8811;
border-radius: 5em;
}

#contact_info_filled
{
position: absolute;
margin-top: -4%;
left: 35%;
width: 50%;
height: 60%;
color: #7C7C7C;
font-style: italic;
font-size: 1vw;
font-family: opensanslight;
display: none;
}

#check_button
{
position: absolute;
margin-top: -4%;
left: 90%;
width: 5%;
display: none;
}

#check_button2
{
position: absolute;
margin-top: -4%;
left: 90%;
width: 5%;
display: none;
}

#contact_info_form
{
position: absolute;
top: 5.8%;
left: 3%;
width: 94%;
height: 94%;
background-color: #9B6D1C;
}

#contact_info_form form input
{
font-size: 1vw;
background-color: #fff;
padding-top: 3%;
padding-bottom: 2.5%;
padding-left: 3%;
padding-right: 3%;
border-radius: 1em;
}

#contact_fname
{
position: absolute;
top: 20%;
left: 7%;
}

#contact_lname
{
position: absolute;
top: 20%;
left: 50%;
}

#contact_number
{
position: absolute;
top: 45%;
left: 7%;
}

#submit_contact
{
position: absolute;
top: 75%;
left: 44%;
border-radius: 0.5em;
}

#error_message
{
position: absolute;
top: 50%;
left: 60%;
width: 30%;
height: 30%;
color: #C20000;
text-align: left;
font-size: 0.9vw;
}

#pickup_time
{
position: absolute;
top: 65%;
left: 5%;
width: 40%;
height: 25%;
}

#pickup_time_header
{
position: absolute;
margin-top: -3%;
width: 80%;
height: 10%;
padding-top: 0.8%;
padding-bottom: 2%;
padding-left: 10%;
padding-right: 10%;
text-align: center;
font-family: oranienbaum;
font-size: 1.5vw;
background-color: #2A8811;
border-radius: 5em;
}

#pickup_filled
{
position: absolute;
margin-top: -4%;
left: 45%;
width: 50%;
height: 60%;
color: #7C7C7C;
font-style: italic;
font-size: 1vw;
font-family: opensanslight;
display: none;
}

#time_selection
{
position: absolute;
top: 9%;
left: 3%;
width: 94%;
height: 0%;
background-color: #9B6D1C;
}

#time_selection select
{
display: none;
height: 0%;
background-color: #2A8811;
font-size: 2vw;
}

#hour_time
{
position: absolute;
top: 25%;
left: 32.5%;
}

#minute_time
{
position: absolute;
top: 25%;
left: 42.5%;
}

#period_time
{
position: absolute;
top: 25%;
left: 52.5%;
}

#submit_pickup
{
position: absolute;
display: none;
top: 60%;
left: 44%;
height: 25%;
font-size: 1vw;
padding-top: 1.2%;
padding-bottom: 1.5%;
padding-left: 2%;
padding-right: 2%;
border-radius: 0.5em;
}

.pointer_cursor
{
cursor: pointer;
}

#order_details
{
position: absolute;
top: 10%;
right: 5%;
width: 40%;
height: 80%;
}

#order_header
{
position: absolute;
margin-top: -3%;
width: 100%;
height: 10%;
background-color: #9B6D1C;
}

#order_header ul
{
width: 100%;
height: 100%;
text-align: center;
font-size: 1.5vw;
font-family: oranienbaum;
}

#order_header li
{
height: 50%;
background-color: #2A8811;
margin-top: 0.9%;
padding-top: 1.2%;
padding-bottom: 0.8%;
list-style-type: none;
display: inline-block;
}

.cartorder_qty
{
width: 12%;
}

.cartorder_name
{
width: 66%;
}

.cartorder_price
{
width: 18.5%;
}

#all_orders
{
position: absolute;
top: 6%;
width: 100%;
height: 94%;
border-top: none;
background-color: #2A8811;
}

#send_order
{
position: absolute;
top: 95%;
left: 20%;
text-align: center;
width: 60%;
font-size: 1.5vw;
font-family: oranienbaum;
padding-top: 3%;
padding-bottom: 3%;
background-color: #9B6D1C;
display: none;
}
