* {
  margin: 0em;
  padding: 0em; }

* {
  margin: 0em;
  padding: 0em; }

#about {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  background-color: #444; }

#about_text_container {
  position: absolute;
  width: 20em;
  height: 15em;
  top: 7em; }

#about_text_head {
  position: absolute; }

#about_text_body {
  position: absolute;
  top: 2em;
  text-align: left; }

#about_buttons_container {
  position: absolute;
  width: 22em;
  height: 10em;
  top: 23em; }

#about_pics {
  position: absolute;
  width: 100%;
  height: 8em;
  top: 60%; }

#about_pics ul {
  width: 100%;
  height: 100%; }

#about_pics li {
  list-style-type: none;
  display: inline-block; }

#about_pics img {
  width: 5em; }

#gallery_link {
  position: absolute;
  width: 90%;
  height: 2em;
  top: 85%;
  background-color: #79D4E5;
  border-radius: 0.5em; }

#gallery_link a {
  text-decoration: none;
  color: white; }

#contact {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 200%;
  text-align: center;
  background-color: #F0F9ED; }

#head {
  position: absolute;
  width: 5em;
  top: 0.3em;
  left: 0.4em;
  font-family: simplifica;
  font-size: 3.5em;
  color: #fff; }

#contact_box {
  position: absolute;
  width: 100%;
  height: 20em;
  top: 0em; }

#contact_box img {
  width: 100%;
  top: 0em;
  z-index: 10; }

#contact_content_container {
  position: absolute;
  width: 20em;
  height: 14em;
  top: 7em;
  background-color: #FBFBFB;
  z-index: 100;
  border-radius: 1em; }

#contact_button {
  position: absolute;
  width: 100%;
  height: 8em;
  top: 22em;
  background-color: red; }

#contact_button img {
  position: absolute;
  width: 100%;
  height: 100%; }

#contact_button a {
  position: absolute;
  text-decoration: none;
  width: 15em;
  height: 4em;
  background-color: #6CAF69;
  border-radius: 0.6em; }

#contact_content_container ul {
  margin-left: -0.2em;
  margin-top: 0.2em; }

#contact_content_container li {
  list-style-type: none;
  display: inline-block;
  width: 2em; }

#contact_content_container ul li img {
  width: 2em; }

#main_menu {
  position: fixed;
  width: 187.5px;
  height: 627px;
  left: -187.5px;
  background-color: #E3B15A;
  z-index: 150; }

#main_menu ul {
  margin-top: 6em; }

#main_menu li {
  list-style-type: none;
  width: 100%; }

#main_menu a {
  text-decoration: none;
  text-align: center;
  color: white;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: inline-block;
  font-family: opensanslight;
  font-size: 1.5em; }

#navbar {
  position: fixed;
  width: 100%;
  height: 3.5em;
  top: 0em;
  color: white;
  background-color: #E3B15A;
  z-index: 400; }

#navbar ul {
  width: 100%;
  height: 100%; }

#navbar li {
  position: relative;
  list-style-type: none;
  display: inline-block; }

#navbar a {
  text-decoration: none; }

#menu_icon {
  top: -3.8em; }

#menu_icon img {
  width: 4em; }

#logo_icon {
  top: -2em;
  left: 0.5em; }

#logo_icon img {
  width: 14em; }

#cart_icon {
  top: -5.3em;
  left: 1em; }

#cart_icon a {
  font-size: 1.2em;
  font-family: opensansregular;
  color: white;
  border: 0.08em white solid;
  padding: 0.1em; }

#social_media_bar {
  position: fixed;
  width: 100%;
  height: 627px;
  top: 56px;
  left: 23.5em;
  overflow: hidden;
  z-index: 250; }

#social_media_bar ul {
  margin-top: 2em; }

#social_media_bar li {
  padding-bottom: 1em; }

#social_media_bar img {
  width: 4em; }

* {
  margin: 0em;
  padding: 0em; }

#gallery {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  overflow: hidden; }

#images_container {
  position: absolute;
  width: 90%;
  height: 25em;
  top: 10.5em; }

#images_container img {
  width: 5em; }

* {
  margin: 0em;
  padding: 0em; }

#order {
  position: absolute;
  width: 100%;
  height: 200%; }

#header_wrapper {
  position: absolute;
  top: 1em;
  background-color: yellow;
  z-index: 100; }

#order_intro {
  position: absolute;
  width: 100%;
  height: 31em;
  top: 5em;
  overflow: hidden; }

#order_text_header {
  position: absolute;
  width: 100%;
  background-color: #fff; }

#order_text_body {
  position: absolute;
  width: 20em;
  height: 22.5em;
  top: 3.5em;
  text-align: left;
  overflow: hidden; }

#order_text_body ul {
  position: absolute;
  width: 90%;
  height: 19em;
  padding: 1em;
  border-radius: 1em;
  background-color: #8FE4D7; }

#order_text_body li {
  width: 100%;
  height: 4em;
  margin-top: 0.1em;
  padding: 0.1em;
  list-style-type: none; }

#get_started {
  position: absolute;
  width: 100%;
  height: 7em;
  top: 70%; }

.img_placeholder {
  position: absolute;
  background-color: blue;
  width: 3.5em;
  height: 3.5em;
  left: 1em;
  border-radius: 3em; }

.order_text_body_option_text {
  position: relative;
  width: 13.5em;
  top: 1em;
  left: 6.5em; }

#down_arrow {
  position: absolute;
  width: 2em;
  top: 50%; }

@-webkit-keyframes animates {
  0% {
    margin-top: 50px; }
  20% {
    margin-top: 50px; }
  40% {
    margin-top: 20px; }
  50% {
    margin-top: 50px; }
  60% {
    margin-top: 20px; }
  80% {
    margin-top: 50px; }
  100% {
    margin-top: 50px; } }
#order_line_1 {
  position: absolute;
  width: 20em;
  height: 0.05em;
  top: 12em;
  background-color: black;
  border: 0em; }

#order_subcontainer {
  position: absolute;
  width: 100%;
  min-height: 20em;
  top: 35em;
  z-index: 100; }

#instructions {
  position: absolute;
  width: 95%; }

#order_subcontainer ul {
  position: absolute;
  width: 100%;
  top: 2.5em; }

#order_subcontainer ul li {
  width: 100%;
  height: 5em;
  list-style-type: none;
  margin-top: 0.5em; }

.order_list_item {
  position: absolute;
  width: 100%;
  height: 5em;
  background-color: #9EDC6B; }

.order_list_item img {
  position: absolute;
  width: 4em;
  height: 4em;
  top: 0.5em;
  left: 0.5em;
  overflow: hidden; }

#order_item_text {
  position: absolute;
  width: 12em;
  height: 4em;
  top: 0.5em;
  left: 5.5em;
  overflow: hidden; }

#order_item_title {
  position: absolute;
  width: 12em;
  height: 1em;
  text-align: left; }

#order_item_details {
  position: absolute;
  width: 12em;
  height: 1em;
  top: 2.5em;
  text-align: left; }

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.centerx {
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center; }

.centery {
  top: 50%; }

.font_style_h1_b {
  color: black;
  font-family: simplifica;
  font-size: 2em; }

.font_style_h1_w {
  color: white;
  font-family: simplifica;
  font-size: 2em; }

.font_style_h2_w {
  color: white;
  font-family: opensansregular;
  font-size: 1.5em; }

.font_style_h2_b {
  color: black;
  font-family: opensansregular;
  font-size: 1.5em; }

.font_style_h3_w {
  color: white;
  font-family: opensansregular;
  font-size: 1.25em;
  text-transform: bold; }

.font_style_h3_b {
  color: black;
  font-family: opensansregular;
  font-size: 1.25em;
  text-transform: bold; }

.font_style_h4_w {
  color: white;
  font-family: opensansregular;
  font-size: 1.5em;
  text-transform: bold; }

.font_style_h4_b {
  color: black;
  font-family: opensansregular;
  font-size: 1.5em;
  text-transform: bold; }

.font_style_reg_b {
  color: black;
  font-family: opensansregular;
  font-size: 1em; }

.font_style_reg_w {
  color: white;
  font-family: opensansregular;
  font-size: 1em; }

.font_style_small_b {
  color: black;
  font-family: opensanslight;
  font-size: 0.8em; }

.font_style_small_w {
  color: white;
  font-family: opensanslight;
  font-size: 0.8em; }

.heading_transform_down {
  margin-top: 1.5em; }

.escape {
  color: black;
  font-family: none;
  font-size: default;
  text-transform: none;
  top: 0em;
  left: 0em;
  transform: translate(0em, 0em); }

#header_container {
  position: absolute;
  width: 100%;
  height: 6em;
  overflow: hidden;
  text-align: center;
  z-index: 100;
  background-color: blue; }

#header_container2 {
  position: absolute;
  width: 100%;
  height: 6em;
  top: 3.5em;
  overflow: hidden;
  text-align: center;
  z-index: 100;
  background-color: blue; }

#inner_white_box {
  position: absolute;
  width: 22em;
  height: 4.8em;
  background-color: white;
  opacity: 0.2; }

#header_border {
  position: absolute;
  width: 22em;
  height: 4.8em;
  border: 0.1em solid white; }

#header_text {
  position: absolute; }

#head {
  position: absolute;
  width: 3em;
  top: 0.3em;
  left: 1.85em;
  font-family: simplifica;
  font-size: 3em;
  color: black;
  overflow: hidden; }

.header_line_left {
  position: absolute;
  background-color: black;
  border: 0em;
  width: 5em;
  height: 0.15em;
  top: 2.4em;
  left: 0.5em; }

.header_line_right {
  position: absolute;
  background-color: black;
  border: 0em;
  width: 5em;
  height: 0.15em;
  top: 2.4em;
  left: 14.5em; }

#mainLion {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden; }

#homepage {
  position: absolute;
  z-index: 1; }

#blur_over {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 200; }

#homepage img {
  width: 100%; }

#homepage_container {
  position: absolute;
  width: 20em;
  height: 25em;
  top: 5em;
  left: 1.7em;
  z-index: 5;
  color: #444; }

#homepage_buttons {
  margin-top: 50%;
  margin-left: 2em; }

#homepage_buttons li {
  list-style-type: none;
  display: inline-block; }

#homepage_buttons a {
  text-decoration: none;
  color: white;
  padding: 1em;
  border: 0.09em solid white;
  border-radius: 0.4em;
  font-family: opensanslight;
  font-size: 1.1em; }

#homepage_buttons a:hover {
  background-color: #E3B15A; }

#whitebox {
  color: white; }

#thebox {
  position: absolute;
  width: 18em;
  height: 18em;
  top: 1.5em;
  left: 0.5em;
  z-index: 2; }

#homepage_maintext {
  position: relative;
  color: #fff;
  font-family: opensansregular;
  font-size: 3em;
  text-align: center;
  top: 1.5em;
  z-index: 5; }

#homepage_subtext {
  position: relative;
  text-align: center;
  color: #fff;
  font-family: opensansregular;
  font-size: 1.5em;
  z-index: 4;
  top: 3em; }

/*# sourceMappingURL=style.css.map */
