*
{
margin: 0;
padding: 0;
}

/* Custom classes*/
.subhead
{
width: 100%;
height: 10%;
margin-top: 7%;
color: white;
font-family: simplifica;
font-size: 3.5vw;
text-align: center;
}

/*end*/

body
{
background-color: #E2FFE2;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/*=================orders page=================*/

#navigation_bar_order
{
position: fixed;
top: 0%;
width: 100%;
z-index: 20;
}

#order_top
{
position: absolute;
top: 13%;
width: 75%;
height: 32%;
}

#order_heading
{
position: absolute;
top: 10%;
width: 100%;
text-align: center;
font-family: caviardreamsregular;
font-size: 4vw;
}

#order_subheading
{
position: absolute;
top: 50%;
width: 100%;
text-align: center;
font-family: opensansregular;
font-size: 1.2vw;
font-style: italic;
}

#meatbox_heading
{
position: absolute;
top: 40%;
left: 3.34%;
width: 35%;
height: 5%;
text-align: left;
font-family: porterbold;
font-size: 1.5vw;
}

#meatbox
{
position: absolute;
top: 43.67%;
left: 3.34%;
width: 35%;
height: 53%;
border: solid 1px #B4CCB4;
}

#meatbox ul
{
margin-top: 1%;
width: 100%;
height: 98%;
}

#meatbox ul li
{
margin-top: 1%;
margin-left: 1%;
width: 98%;
height: 15.4%;
list-style-type: none;
background-color: #2A8811;
}

#meatbox ul li:hover
{
background-color: #36AD16;
color: #E3E3E3;
cursor: pointer;
}

#meatitem img
{
border-radius: 5em;
position: absolute;
margin-top: 1%;
margin-left: 1.5%;
width: 10%;
}

#meat_item_text
{
position: absolute;
width: 85%;
height: 18%;
margin-left: 13%;
}

#meat_item_title
{
margin-top: 2%;
font-family: opensanssemibold;
font-size: 1vw;
}

#meat_item_details
{
margin-top: 2%;
font-family: opensansregular;
font-size: 0.7vw;
font-style: italic;
}

#meat_item_price
{
position: absolute;
font-family: opensansregular;
font-size: 1vw;
margin-top: 0.8%;
margin-left: 88%;
}

#sidesbox_heading
{
position: absolute;
top: 40%;
left: 41.66%;
width: 30%;
height: 5%;
text-align: left;
font-family: porterbold;
font-size: 1.5vw;
}

#sidesbox
{
position: absolute;
top: 43.67%;
left: 41.66%;
width: 30%;
height: 53%;
border: solid 1px #B4CCB4;
}

#sidesbox ul
{
margin-top: 0.4%;
width: 100%;
height: 98%;
}

#sidesbox ul li
{
margin-top: 1%;
margin-left: 1%;
float: left;
width: 48.5%;
height: 11.45%;
list-style-type: none;
background-color: #2A8811;
}

#sidesbox ul li:hover
{
background-color: #36AD16;
color: #E3E3E3;
cursor: pointer;
}

.sides_item{
width:100%;
height:100%;
}

.sides_item img
{
position: absolute;
margin-top: 1.6%;
margin-left: 1.5%;
width: 7%;
border-radius: 5em;
}

#sides_title
{
position: absolute;
width: 27%;
height: 9%;
margin-left: 10%;
font-family: opensanssemibold;
font-size: 0.7vw;
text-align: center;
}

#sides_note
{
position: absolute;
margin-left: 10%;
margin-top: 6%;
font-size: 0.7vw;
font-family: opensansregular;
}

#sides_price
{
position: absolute;
margin-top: 1%;
margin-left: 39%;
font-family: opensansregular;
font-size: 0.7vw;
width:100%;
}

#cartorders
{
position: absolute;
margin-left: -1.3px;
top: 12%;
width: 100%;
height: 70%;
border: solid 1px #B4CCB4;
border-right: hidden;
overflow-x: none;
overflow-y: auto;
}

#cartorders ul
{
margin-top: 0.4%;
width: 100%;
height: 99.8%;
}

#cartorders ul li
{
margin-top: 1%;
margin-left: 1%;
width: 98%;
height: 11.45%;
list-style-type: none;
border-bottom: solid 1px #B4CCB4;
cursor: pointer;
}

#cartorders ul li:hover
{
background-color: #B4CCB4;
cursor: pointer;
}

.cart_item img
{
position: absolute;
margin-top: 1.2%;
margin-left: 1%;
width: 12%;
}

.cartorder_title
{
position: absolute;
width: 62%;
height: 4%;
margin-top: 2%;
margin-left: 15%;
font-family: opensanssemibold;
font-size: 0.8vw;
}

.cartorder_note
{
position: absolute;
margin-left: 15%;
margin-top: 8%;
font-size: 0.7vw;
font-family: opensansregular;
}

.cartorder_price
{
position: absolute;
margin-top: 2%;
margin-left: 85%;
font-family: opensansregular;
font-size: 0.7vw;
}

.delete_cartorder
{
position: absolute;
margin-top: 7%;
margin-left: 88.5%;
padding-top: 1px;
padding-left: 9px;
padding-right: 8px;
padding-bottom: 4px;
text-align: center;
font-size: 0.8vw;
font-family: opensanslight;
border-radius: 1em;
color: #E3E3E3;
background-color: #D80000;
}

.delete_cartorder:hover
{
color: white;
background-color: red;
}

.long_sides
{
margin-top: 2%;
}

.center_sides
{
margin-top: 3.5%;
}

#cart_divider
{
position: absolute;
top: 15.7%;
left: 73.37%;
width: 1px;
height: 82.3%;
opacity: 0.4;
background-color: #B4CCB4;
}

#cartbox
{
position: absolute;
top: 12.7%;
left: 75%;
width: 25%;
height: 87.3%;
}

#cartbox_heading
{
position: absolute;
top: 5%;
width: 100%;
height: 5%;
text-align: center;
font-family: porterbold;
font-size: 1.5vw;
}

#order_checkout
{
position: absolute;
top: 85%;
left: 10%;
width: 80%;
height: 5%;
text-align: center;
font-size: ;
font-family: ;
}

#order_checkout button
{
color: black;
padding: 5%;
background-color: #2A8811;
text-align: center;
cursor: pointer;
}

#order_checkout button:hover
{
color: #E3E3E3;
background-color: #36AD16;
}

#total{
position: absolute;
font-family: opensanslight;
font-size: 1vw;
top:87%;
}

/*end of orders page*/

/*===================INDEX=================*/

#index
{
position: absolute;
top: 0%;
width: 100%;
height: 100%;
z-index: 10;
}

#navigation_bar_index
{
position: fixed;
top: 0%;
width: 100%;
z-index: 20;
display: none;
}

#background_image
{
position: absolute;
width: 100%;
height: 100%;
overflow: hidden;
}

#halalimg img
{
position: absolute;
width: 15%;
}

#middle_logo_container
{
position: absolute;
font-size: 4.5vw;
font-family: aressence;
color: #33A415;
top: 40%;
left: 50%;
z-index: 5;
transform: translate(-50%,-50%);
line-height: 150px;
text-align: center;
}

#middle_logo_container img
{
width: 80%;
margin-top: 0%;
border: solid 10px #187913;
border-radius: 5em;
}
/* 
#middle_logo_container img:hover
{
-webkit-animation:spin 0.0001s linear infinite;
    -moz-animation:spin 0.0001s linear infinite;
    animation:spin 0.0001s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
 */
#nav_bar_left
{
position: absolute;
width: 28%;
height: 13%;
top: 37.5%;
transform: translate(33.2%,-50%);
}

#nav_bar_right
{
position: absolute;
width: 28%;
height: 13%;
top: 37.5%;
left: 62.85%;
transform: translate(0,-50%);
}

#nav_bar_left ul
{
padding-left: 1%; 
}

#nav_bar_left li
{
list-style-type: none;
display: inline-block;
padding-top: 9%;
padding-bottom: 9%;
width: 49%;
background-color: #187913;
text-align: center;
color: #BDBDBD;
font-size: 1.5vw;
font-family: bebasregular;
}

#nav_bar_left li:hover
{
background-color: #34A217;
}

#nav_bar_right ul
{
padding-left: 1%; 
}

#nav_bar_right li
{
list-style-type: none;
display: inline-block;
padding-top: 9%;
padding-bottom: 9%;
width: 49%;
background-color: #187913;
text-align: center;
color: #BDBDBD;
font-size: 1.5vw;
font-family: bebasregular;
}

#nav_bar_right li:hover
{
background-color: #34A217;
}

#left_menu
{
border-top-left-radius: 0.5em;
border-bottom-left-radius: 0.5em;
}

#right_menu
{
border-top-right-radius: 0.5em;
border-bottom-right-radius: 0.5em;
}

.down_arrow
{
position: absolute;
width: 15%;
top: 75%;
left: 50%;
transform: translate(-50%, 0);
fill: white;
-webkit-animation: animates  3s infinite;
}

#svg_arrow:hover
{
fill:#3BCE4C;
cursor: pointer;
}

@-webkit-keyframes animates
{
	0%{margin-top: 50px;}
	20%{margin-top: 50px;}
	40%{margin-top: 10px;}
	50%{margin-top: 50px;}
	60%{margin-top: 10px;}
	80%{margin-top: 50px;}
	100%{margin-top: 50px;}	
}	

#bbqtitle
{
position: absolute;
width: 60%;
height: 20%;
top: 63%;
left: 20%;
font-family: sanchezregular;
font-size: 5vw;
text-align: center;
font-weight: 900.9999999999999;
color: white;
}

#slogan
{
position: absolute;
width: 40%;
height: 20%;
top: 75%;
left: 30%;
font-family: ultimapdultralightitalic;
font-size: 1.8vw;
text-align: center;
font-weight: 600;
color: white;
}


#media
{
position: absolute;
width: 12%;
height: 10%;
margin-left: 88%;
top: 2%;
overflow: hidden;
}

#media ul
{
height: 100%
}

#media li
{
width: 25%;
list-style-type: none;
display: inline-block;
padding: 2%;
}

.media_icon
{
width: 100%;
height: 100%;
}

/*============ABOUT US PAGE==============*/

#about_us_anchor
{
position: absolute;
top: 90%;
z-index: -1;
}

#about_us_title
{
position: absolute;
top: 100%;
width: 100%;
height: 40%;
font-size: 7vw;
font-family: michroma;
text-align: center;
}

#about_us
{
position: absolute;
top: 145%;
width: 100%;
height: 100%;
}

#about_sec_1
{
position: absolute;
left: 4.75%;
top: 5%;
width: 27%;
height: 80%;
}

#about_sec_2
{
position: absolute;
left: 36.5%;
top: 5%;
width: 27%;
height: 80%;
border: 5px solid #B4CCB4;
}

#about_sec_3
{
position: absolute;
left: 68.25%;
top: 5%;
width: 27%;
height: 80%;
}

#sec1_title
{
position: absolute;
top: 10%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
width: 100%;
font-family: porterbold;
font-size: 3vw;
}

#sec2_title
{
position: absolute;
top: 65%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
width: 100%;
font-family: porterbold;
font-size: 3vw;
color: green;
}

#sec3_title
{
position: absolute;
top: 10%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
width: 100%;
font-family: porterbold;
font-size: 3vw;
}

#sec1_text
{
position: absolute;
top: 44%;
left: 50%;
width: 85%;
transform: translate(-50%, -50%);
text-align: center;
font-family: opensansregular;
font-size: 1vw;
}

#sec2_subtext
{
position: absolute;
top: 75%;
left: 50%;
width: 100%;
transform: translate(-50%, -50%);
text-align: center;
font-family: opensansregular;
font-size: 1.5vw;
}

#sec3_text
{
position: absolute;
top: 75%;
left: 50%;
width: 80%;
transform: translate(-50%, -50%);
text-align: center;
font-family: opensansregular;
font-size: 1vw;
}

#sec1_images
{
position: absolute;
top: 85%;
left: 50%;
width: 85%;
height: 25%;
transform: translate(-50%, -50%);
background-color: orange;
}

#crewentryimg
{
position: absolute;
top: 50%;
left: 50%;
width: 100%;
height: 100.3%;
transform: translate(-50%, -50%);
}

#sec3_images
{
position: absolute;
top: 35%;
left: 50%;
width: 90%;
height: 35%;
transform: translate(-50%, -50%);
background-color: orange;
}

/*+++++++About Us Mobile Page +++++++++*/
#AboutUs
{
position: absolute;
height: 100%;
width: 100%;	
background-color: #fff;
z-index: -1000
}

#menubutton
{
position: absolute;
background-color: black;
height: 6%;
width:10%;
top:0%;
left: 0%;
color: white;
}

#blueboxtop
{
position: relative;
background-color: blue;
height:6%;
width:50%;
top: 0%;
left: 22%;
color: black;
font-size: 5vw
}

#AboutUsHead
{
position: relative;
background-color: none;
height: 6%;
width:40%;
top: 8%;
left: 26%;
font-size: 9vw;
font-family: opensanslight;
color:white;
}

#aboutusbox
{
position: absolute;
background-color: none;
height: 10vh;
width:60%;
top: 22%;
left: 18%;
font-size: 3vw;
}

#about_picture
{
position: absolute;
background-color: none;
height: 45%;
width: 100%;
top: 9%;
left:0%;
font-size: 3vw;
z-index: -5;
}

#about_picture img
{
position: absolute;
height: 100%;
width: 100%;
}


/*About Us Mobile Ends*/


/*=========================== CONTACT US PAGE ==============================*/

#contact_us_anchor
{
position: absolute;
top: 240%;
}

#contact_us
{
position: absolute;
top: 250%;
width: 100%;
height: 100%;
}

#contactus_title
{
position: absolute;
top: 4%;
width: 100%;
font-size: 4vw;
font-family: caviardreamsregular;
text-align: center;
color: #35A928;
}

#recenter_map
{
position: absolute;
top: 20%;
left: 94.7%;
width: 5%;
z-index: 3;
}

#recenter_map button
{
cursor: pointer;
width: 100%;
text-align: center;
font-size: 0.8vw;
background-color: #DCFFDF;
}

#contact_info
{
position: absolute;
top: 21%;
left: 6%;
width: 35%;
height: 40%;
z-index: 3;
}

#contact_info table
{
width: 100%;
height: 100%;
text-align: center;
opacity: 0.8;
font-size: 0.8vw;
color: #F0F0F0;
font-family: opensansregular;
}
	
#contact_info tr
{
height: 50%;
}

#contact_info td
{
width: 50%;
background-color: #2A8811;
}

#contact_info b
{
font-family: bebasregular;
font-size: 2vw;
color: #C5DDC3;
}

#contact_info li
{
list-style-type: none;
}

#onlinecontact
{
margin-left: 50%;
transform: translate(-50%,0);
width: 60%;
height: 30%;
}

#onlinecontact li
{
margin-top: 5%;
width: 30%;
display: inline-block;
}

.insta_svg
{
width: 80%;
}

#map_overlay
{
position:absolute;
width:100%;
height:60%;
top: 15%;
z-index: 2;
}

#click_map_instruct
{
position: absolute;
top: 67.5%;
width: 100%;
padding-top: 1%;
text-align: center;
font-family: asgalt;
font-size: 3vw;
opacity: 0.8;
color: #C5DDC3;
background-color: #2A8811;
}

#maploaderror
{
position: absolute;
width: 50%;
left: 45%;
top: 25%;
color: #36AD16;
text-align: center;
font-family: bebasregular;
font-size: 4vw;
}

/* ============================MENU================================== */
#navigation_bar_menu
{
position: fixed;
top: 0%;
width: 100%;
z-index: 20;
}

#menu_title
{
position: absolute;
top: 15%;
width: 100%;
height: 12%;
font-size: 4vw;
font-family: caviardreamsregular;
text-align: center;
}

#menu_subheading
{
position: absolute;
top: 28%;
width: 100%;
text-align: center;
font-family: opensansregular;
font-size: 1.2vw;
font-style: italic;
}

#regular_meals
{
position: absolute;
top: 45%;
left: 10%;
width: 80%;
height: 60%;
background-color: #B4CCB4;
-webkit-box-shadow: 0 0 30px 20px #B4CCB4;
box-shadow: 0 0 1px 1px #B4CCB4;
}

#regular_meals_title
{
position: absolute;
top: -12%;
left: 2%;
font-size: 3vw;
font-family: caviardreamsregular;
color: #444;
}

#regular_meals_images
{
position: absolute;
top: 16%;
left: 2%;
width: 52%;
height: 68.2%;
overflow: hidden;
z-index: 5;
}

#regular_meals_images ul
{
display: block;
width: 100%;
height: 25em;
overflow: hidden;
}

#regular_meals_images li
{
list-style-type: none;
width: 100%;
}

#regular_meals_images img
{
width: 100%;
}

#regular_meals_options
{
position: absolute;
top: 3.5%;
left: 60%;
width: 40%;
}

#regular_meals_options ul
{
text-align: left;
}

#regular_meals_options li
{
font-family: oranienbaum;
font-size: 1.3vw;
list-style-type: none;
margin-bottom: 4%;
width: 90%;
cursor: pointer;
}

#regular_meals_options p
{
font-family: opensanregular;
font-size: 0.95vw;
font-style: italic;
}

#combination_meals
{
position: absolute;
top: 120%;
left: 10%;
width: 80%;
height: 60%;
background-color: #B4CCB4;
-webkit-box-shadow: 0 0 30px 20px #B4CCB4;
box-shadow: 0 0 1px 1px #B4CCB4;
}

#combination_meals_title
{
position: absolute;
top: -13%;
left: 2%;
font-size: 3vw;
font-family: caviardreamsregular;
color: #444;
}

#combination_meals_images
{
position: absolute;
top: 15%;
right: 2%;
width: 52%;
height: 68.2%;
overflow: hidden;
z-index: 5;
}

#combination_meals_images ul
{
display: block;
width: 100%;
height: 25em;
overflow: hidden;
}

#combination_meals_images li
{
list-style-type: none;
width: 100%;
}

#combination_meals_images img
{
width: 100%;
}

#combination_meals_options
{
position: absolute;
top: 4.3%;
right: 58%;
width: 40%;
}

#combination_meals_options ul
{
text-align: right;
}

#combination_meals_options li
{
font-family: oranienbaum;
font-size: 1.3vw;
list-style-type: none;
margin-bottom: 4%;
width: 90%;
cursor: pointer;
}

#combination_meals_options p
{
font-family: opensanregular;
font-size: 0.95vw;
font-style: italic;
}

#clickheaderinstruct
{
position: absolute;
top: 50%;
text-align: center;
width: 100%;
font-family: opensansregular;
font-size: 1.2vw;
font-style: italic;
z-index: -1;
}

.selected_option
{
background-color: #36AD16;
padding-left: 20px;
padding-right: 20px;
padding-top: 7px;
padding-bottom: 10px;
border-radius: 20px;
}

.listimageleft
{
position: absolute;
background: url('../images/right44.png') no-repeat;
width: 6%;
height: 4.5%;
z-index: 5;
margin-top: 5%;
margin-left: -9%;
}

.listimageright
{
position: absolute;
background: url('../images/left44.png') no-repeat;
width: 6%;
height: 5%;
z-index: 5;
margin-top: 4%;
margin-left: 94%;
}

#sides_meals
{
position: absolute;
top: 189%;
width: 100%;
height: 100%;
}

#sides_meals_title
{
position: absolute;
top: 0;
left: 50%;
transform:translate(-50%, 0);
font-size: 3vw;
font-family: caviardreamsregular;
color: #444;
}

#sides_meals_lists
{
position: absolute;
top: 10%;
left: 20%;
width: 60%;
height: 48%;
padding: 30px;
background-color: #B4CCB4;
-webkit-box-shadow: 0 0 30px 20px #B4CCB4;
box-shadow: 0 0 1px 1px #B4CCB4;
}

#sides_meals_lists ul
{
width: 100%;
height: 100%;
}

#sides_meals_lists ul li
{
width: 45%;
font-family: oranienbaum;
font-size: 1.3vw;
padding-left: 5%;
margin-bottom: 3%;
list-style-type: none;
text-align: center;
float: left;
}

#regularanchor
{
position: absolute;
top: 20%;
}

#combinationsanchor
{
position: absolute;
top: 97%;
}

#sidesanchor
{
position: absolute;
top: 175%;
}

/*======================= NAV BAR ========================*/

nav 
{
text-align: center;
background-color: #2A8811;
width: 100%;
z-index: 5;
}

nav ul
{
width: 100%;
height: 15%;
}

nav li
{
list-style-type: none;
display: inline-block;
width: 19%;
}

nav a
{
text-align: center;
display: block;
text-decoration: none;
font-size: 2vw;
font-family: bebasregular;
color: #BDBDBD;
padding-top: 9%;
padding-bottom: 9%;
}

nav a:hover
{
-webkit-transition: color 0.1s ease-in;
color: #E3E3E3;
}

nav ul li ul
{
position: absolute;
background-color: #2A8811;
visibility: hidden;
width: 14%;
height: auto;
left: 22%;
z-index: 5;
}

nav ul li:hover > ul,nav ul li ul:hover
{
visibility: visible;
}

nav ul li ul li
{
width: 100%;
}

nav ul li ul li:hover
{
background-color: #36AD16;
}

nav ul li ul li a
{
font-size: 1.5vw;
padding-top: 2%;
padding-bottom: 2%;
}

#logo_image
{
position: absolute;
width: 12%;
margin-left: 6%;
margin-top: -1.5%;
}

.cart_svg
{
width: 3%;
}

#cart_count
{
position: absolute;
display: none;
top: -50%;
right: 1.18%;
font-size: 0.8vw;
font-family: bebasbold;
border: solid 2px #BDBDBD;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 7px;
padding-right: 8px;
border-radius: 1em;
background-color: #36AD16;
color: #E3E3E3;
}

.cart_svg svg
{
fill: #BDBDBD;
}

.cart_svg svg:hover
{
fill: #E3E3E3;
}

/*========= CART ================*/

#navigation_bar_cart
{
position: fixed;
top: 0%;
width: 100%;
z-index: 20;
}

#cart_title
{
position: absolute;
top: 16.5%;
width: 100%;
text-align: center;
font-family: asgalt;
font-size: 5vw;
}

#cartsubtitle{
position: absolute;
top: 27%;
width: 100%;
text-align: center;	
font-family: opensanslight;
font-size: 2.25vw;
}

#mainElephant
{
position: absolute;
border-radius: 1em; 
width: 960px;
height: 60%;
top: 35%;
left: 12.5%;
}

#OrderTableHeader{
width: 100%;
/*border-collapse: separate;
border:#000 1px solid;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px*/
}

#OrderTableBody{
width: 100%;
/*border-collapse: separate;
border:#000 1px solid;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px*/
}

.cooltext
{
font-family: opensanslight;
font-size: 1.33vw;
}

#OrderTableHeader table{
width: 100%;
}

#OrderTableHeader table th{
font-family: bebaslight;
font-size: 1.66vw;
}

#OrderTableBody table{
width: 100%;
font-family: opensanslight;
font-size: 1vw;
}

#AddSideContainer{
position:absolute;
left: 110%;
width: 47.5%;
height: 100%;
}

#AddSide{
position: absolute;
width:100%;
height:40%;
background-color: blue;
font-family: opensansregular;
font-size: 2vw;
color:#FFF;
}

#AddSideContainer a{
text-decoration: none;
color: white;
}

#AddSideText{
position:absolute;
top:50%;
left:50%;
transform: translate(-50%, -50%);
}

#EditOrderText{
position:absolute;
top:50%;
left:50%;
transform: translate(-50%, -50%);
}

#EditOrder{
position: absolute;
top:40%;
width:100%;
height:40%;
background-color: black;
font-family: opensansregular;
font-size: 2vw;
color:#FFF;
}

#NextButton{
top:80%;
position: absolute;
width: 50%;
height:10%;
border:1px solid black;
border-radius: 1.5em;
cursor:pointer;
transform: translate(50%, 25%);
}

#NextText{
position:absolute;
top:50%;
left:50%;
color: black;
font-family: opensansregular;
font-size: 1.66vw;
transform: translate(-50%, -50%);  
}

#OrderInformationContainer{
display:none;
position:absolute;
left: 110%;
width: 45%;
height: 80%;
border:1px solid black;
border-radius: 1em;
}

#OrderInformationHeader{
position: absolute;
width: 100%;
height: 20%;
}

#OrderInformationHeaderText{
font-family: opensansregular;
font-size: 2vw;
color:#000;
transform: translate(12.5%, 50%);
}

#OrderInformationFormContainer{
position:absolute;
top:20%;
width: 100%;
height:72.5%;
}

#OrderInformationFormContainer form label{
font-family: opensanslight;
font-size: 1.25vw;
color:#000;
text-align: right;
display: inline-block;
transform: translate(20%, 12.5%);
}

#OrderInformationFormContainer form table input{
margin-top:5%;
font-family: opensanslight;
font-size: 1.25vw;
color:#000;
width:75%;
}

#SendOrderButton{
font-family: opensansregular;
font-size: 1vw;
margin-top: 5%;
border-radius: 5px;
border: 0;
width: 50%;
height:15%;
background: none;
border:1px solid black;
border-radius: 1em;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ededed', GradientType=0);
transform: translate(50%, 50%);
}

.scrolltable {
    overflow-x: none;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.scrolltable > .header {
	width: -webkit-fit-content;
}

.scrolltable > .body {
    width: -webkit-fit-content;
    overflow-y: auto;
    flex: 1;
    -webkit-flex: 1;
}

#OrderTableBody table tr{
width: 100%;
height: 50%;
}

.tableOrder{
width: 75%;
}

.tableAmount{
width: 5%;
}

.tablePrice{
width: 10%;
}

.pointer_cursor
{
cursor: pointer;
}

